<div id="<%= dom_id job %>">
  <p>
    <strong>Job perform:</strong>
    <%= job.job_perform %>
  </p>

  <p>
    <strong>Job time hour:</strong>
    <%= job.job_time_hour %>
  </p>

  <p>
    <strong>Job time min:</strong>
    <%= job.job_time_min %>
  </p>

  <p>
    <strong>Job current:</strong>
    <%= job.job_current %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

</div>
